.gridWrapper {
  display: grid;
  height: 100vh;
  padding: 5em 2em;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  justify-content: center;
  gap: 0.5em;
}

.gridImageWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: center;
}

.gridImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2/3;
  opacity: 1;
  border-radius: 0.5em;
  cursor: pointer;
}

.gridImg:hover {
  z-index: 1;
}

.gridTitle:hover {
  z-index: -1;
}

.gridTitle {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;

  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
