.serviceContainer {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". img service"
    "info img service";
}

.serviceDescription {
  grid-area: info;
  padding: 0 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.serviceTitle {
  margin: 0 auto;
  width: 100%;
  text-align: flex-start;
  font-size: 1.3em;
  font-weight: 600;
  color: #7a4b14;
}

.serviceSlogan {
  margin-top: 1em;
  width: 100%;
  text-align: flex-start;
  font-size: 1em;
  font-weight: 600;
  color: #7a4b14;
  opacity: 0.5;
}

.serviceInfo {
  margin: 1em;
  display: flex;
  width: 100%;
  justify-content: space-between;

  text-align: justify;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 1px;
}

.duration,
.price {
  font-size: 0.8em;
  opacity: 0.5;
}

.serviceImageWrapper {
  grid-area: img;
  padding: 5em 1em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceImg {
  height: 100%;
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 0.5em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bookNowWrapper {
  grid-area: info;
  width: 100%;
  margin-top: 2em;
}

.bookNow {
  width: 100%;
  padding: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 0.75em;
}

.arrow {
  margin-left: 1em;
}

@media only screen and (max-width: 768px) {
  .serviceContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
      "img"
      "info"
      "service";
  }

  .serviceDescription {
    width: 100vw;
    padding: 0 1.5em;
    margin-bottom: 2em;
  }

  .serviceTitle {
    font-size: 1.2em;
  }

  .serviceSlogan {
    font-size: 0.9em;
  }

  .serviceInfo {
    font-size: 0.75em;
  }

  .serviceImageWrapper {
    width: 100vw;
    margin-top: 5em;
    margin-bottom: 2em;
    padding: 0em 1em;
  }
}

@media only screen and (max-width: 768px) {
  .serviceContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
      "img"
      "info"
      "service";
  }

  .serviceDescription {
    width: 100vw;
    padding: 0 1.5em;
    margin-bottom: 2em;
  }

  .serviceTitle {
    font-size: 1.2em;
  }

  .serviceSlogan {
    font-size: 0.9em;
  }

  .serviceInfo {
    font-size: 0.75em;
  }

  .serviceImageWrapper {
    width: 100vw;
    margin-top: 5em;
    margin-bottom: 2em;
    padding: 0em 1em;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .serviceContainer {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      ". img service"
      "info img service";
  }

  .serviceDescription {
    grid-area: info;
    padding: 0 2em;
  }

  .serviceTitle {
    font-size: 1em;
  }

  .serviceSlogan {
    font-size: 0.8em;
  }

  .serviceInfo {
    font-size: 0.75em;
  }

  .duration,
  .price {
    font-size: 0.8em;
    opacity: 0.5;
  }

  .serviceImageWrapper {
    padding: 5em 1em;
  }

  .serviceImg {
    height: 100%;
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 0.5em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .bookNowWrapper {
    grid-area: info;
    width: 100%;
    margin-top: 2em;
  }

  .bookNow {
    padding: 0.5em;
  }

  .bookNow h3 {
    font-size: 0.75em;
  }

  .arrow {
    margin-left: 0.2em;
  }
}
