.scrollableGallery {
  padding: 0 0 0 1.5em;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.gallery {
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.gallery:active {
  cursor: grabbing;
}

.gallery-img-wrapper {
  width: 75vw;
  border-radius: 0.75em;
}

.gallery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2/3;
  border-radius: 0.5em;
}

.gallery-title {
  margin: 1em 0 2em 0;
  width: 100%;
  text-align: center;
  font-family: "Canela Trial", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

/* Styles for Medium Screens */
@media (min-width: 576px) and (max-width: 767.98px) {
  .gallery-img-wrapper {
    width: 45vw;
  }
}

/* Styles for Large Screens */
@media (min-width: 768px) and (max-width: 991.98px) {
  .gallery-img-wrapper {
    width: 35vw;
  }
}

/* Styles for Extra-Large Screens */
@media (min-width: 992px) {
  .scrollableGallery {
    padding: 0 0 0 3em;
  }

  .gallery-img-wrapper {
    width: 24vw;
  }

  .gallery-title {
    font-size: 1em;
  }
}
