.header {
  position: fixed;
  width: 100vw;
  max-width: 100%;

  display: flex;
  justify-content: space-between;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;

  z-index: 10;
}

.headerIcons {
  width: 0.9em;
  height: auto;
}

.headerBtn,
.titleWrapper {
  display: flex;
  align-items: center;
  padding: 2em;
  cursor: pointer;
}

.ig {
  justify-content: flex-start;
}

.gv {
  justify-content: flex-end;
}

.instagram,
.gridView {
  padding: 0 1em;
  font-size: 0.75em;
  font-weight: 500;
  color: #7a4b14;
}
.title {
  height: 100%;
  font-size: 1em;
  font-weight: 600;
  color: #7a4b14;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .headerBtn,
  .titleWrapper {
    padding: 1.5em;
  }
  .title {
    font-size: 0.75em;
  }

  .instagram,
  .gridView {
    font-size: 0.5em;
  }

  .headerIcons {
    width: 0.5em;
    height: auto;
  }
}
