.header {
  position: relative;
  height: 75vh;
  width: 100vw;
  max-width: 100%;
  padding: 1.75em 1.5em;
  z-index: 10;
}

.header-title {
  display: inline-block;;
  font-family: "Canela Trial", sans-serif;
  font-weight: 400;
  font-size: 2.75em;
  line-height: 1em;
}

.header-nav {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  list-style-type: none;
}

.header-item {
  margin: 2.5em 2.25em 0 0;
  border-bottom: 0.5px solid #222;
  font-weight: 300;
  font-size: 0.8em;
}

.header-item:last-child {
  margin: 2.5em 0 0 0;
}

.header-slogan {
  position: absolute;
  top: 55%;
}

.available {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #77a888;
}

.header-book {
  font-family: "Canela Trial", sans-serif;
  font-size: 1.1em;
  margin-top: 0.35em;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  border-bottom: 0.5px solid #222;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .header-title {
    font-size: 3.5em;
  }

  .header-item {
    margin: 2.5em 4em 0 0;
  }

  .header-book {
    font-size: 1.25em;
  }
}

@media (min-width: 992px) {
  .header {
    padding: 3em;
  }

  .header-title {
    font-size: 5em;
    line-height: 0.9;
  }

  .header-item {
    margin: 2.5em 6em 0 0;
    font-size: 0.95em;
  }

  .header-slogan {
    position: absolute;
    padding: 5em 3em;
    top: 0%;
    right: 0%;
  }

  .available {
    display: none;
  }
}
